<div class="flex flex-auto">
    <form class="flex flex-col flex-auto p-6 pt-10 sm:p-8 sm:pt-10 " [formGroup]="productForm">

        <!-- Header -->
        <div class="flex items-center justify-between -mt-3 -ml-4 ">


            <!-- Mark as ... button -->
            <button class="pr-4 pl-3.5" mat-button [color]="'primary'">
                <ng-container>
                    <div class="flex items-center justify-center">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:pencil-alt'">
                        </mat-icon>
                        <span class="ml-2 font-semibold">NEW PRODUCT</span>
                    </div>
                </ng-container>
            </button>



        </div>

        <mat-divider class="mt-6 mb-8"></mat-divider>

        <div class="flex-auto min-w-64">
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Product ID</mat-label>
                    <input matInput [type]="'text'" [placeholder]="''">
                    <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'">
                    </mat-icon> -->
                </mat-form-field>

            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Product Name</mat-label>
                    <input matInput [type]="'text'" [placeholder]="''">
                    <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'">
                    </mat-icon> -->
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Price</mat-label>
                    <input matInput [type]="'text'" [placeholder]="''">
                    <!-- <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:mail'">
                    </mat-icon> -->
                </mat-form-field>
            </div>

            <div class="flex">
                <mat-form-field class="flex-auto">
                    <mat-label>Status</mat-label>
                    <mat-select>
                        <mat-option class="" value="active">
                            <mat-icon class="mr-0 icon-size-4 text-green-600 dark:text-green-500"
                                [svgIcon]="'heroicons_solid:check'"></mat-icon>
                            <span
                                class="ml-2 mr-1 text-md font-medium text-green-600 dark:text-green-500">Active</span>
                        </mat-option>

                        <mat-option value="inactive">
                            <mat-icon class="mr-0 icon-size-4 text-red-600 dark:text-red-500"
                                [svgIcon]="'heroicons_solid:ban'"></mat-icon>
                            <span
                                class="ml-2 mr-1 text-md font-medium text-red-600 dark:text-red-500">Inactive</span>
                        </mat-option>
                    </mat-select>
                    <!-- <mat-icon class="icon-size-5" matPrefix
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon> -->
                </mat-form-field>
            </div>

            <!-- Price Options -->
            <!--
            <div class="flex flex-col flex-auto  overflow-hidden py-6">
                <div class="flex items-start justify-between">
                    <div class="text-lg font-medium tracking-tight leading-6 truncate">Price
                        Option</div>
                    <div class="ml-2">
                        <button class="h-6 min-h-6 px-2 rounded-full bg-hover" mat-button
                            [matMenuTriggerFor]="conversionMenu">
                            <span class="font-medium text-sm text-secondary">เพิ่ม</span>
                        </button>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item>30 days</button>
                            <button mat-menu-item>3 months</button>
                            <button mat-menu-item>9 months</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="flex flex-col mt-2 divide-y">
                    <ng-container>
                        <div class="flex flex-row items-center justify-between py-4 px-0.5">

                            <div class="flex flex-col">
                                <div class="font-medium">น้ำหนักมากกว่า 2,000 กก.</div>
                                <div
                                    class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                    <ng-container>
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                            <div class="ml-1.5 text-md text-secondary">
                                                ระดับแพทตินัม</div>
                                        </div>
                                    </ng-container>
                                    <ng-container>
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:location-marker'">
                                            </mat-icon>
                                            <div class="ml-1.5 text-md text-secondary">
                                                ระดับปกติ</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <ng-container>
                                    <div class="flex items-center justify-between">
                                        <div>(+0.20)</div>
                                        <div class="font-medium  px-4">
                                            13.20
                                        </div>
                                        <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'">
                                            </mat-icon>
                                        </button>
                                        <mat-menu #moreMenu="matMenu">
                                            <button mat-menu-item (click)="deleteTask()">
                                                <mat-icon [svgIcon]="'heroicons_outline:trash'">
                                                </mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="flex flex-row items-center justify-between py-4 px-0.5">

                            <div class="flex flex-col">
                                <div class="font-medium">น้ำหนักมากกว่า 2,000 กก.</div>
                                <div
                                    class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                    <ng-container>
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                            <div class="ml-1.5 text-md text-secondary">
                                                ระดับแพทตินัม</div>
                                        </div>
                                    </ng-container>
                                    <ng-container>
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:location-marker'">
                                            </mat-icon>
                                            <div class="ml-1.5 text-md text-secondary">
                                                ระดับปกติ</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="flex ">
                                <ng-container>
                                    <div class="flex items-center justify-between">
                                        <div>(+0.20)</div>
                                        <div class="font-medium  px-4">
                                            13.20
                                        </div>

                                        <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'">
                                            </mat-icon>
                                        </button>
                                        <mat-menu #moreMenu="matMenu">
                                            <button mat-menu-item (click)="deleteTask()">
                                                <mat-icon [svgIcon]="'heroicons_outline:trash'">
                                                </mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="flex flex-row items-center justify-between py-4 px-0.5">

                            <div class="flex flex-col">
                                <div class="font-medium">น้ำหนักมากกว่า 2,000 กก.</div>
                                <div
                                    class="flex flex-col sm:flex-row sm:items-center -ml-0.5 mt-2 sm:mt-1 space-y-1 sm:space-y-0 sm:space-x-3">
                                    <ng-container>
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                            <div class="ml-1.5 text-md text-secondary">
                                                ระดับแพทตินัม</div>
                                        </div>
                                    </ng-container>
                                    <ng-container>
                                        <div class="flex items-center">
                                            <mat-icon class="icon-size-5 text-hint"
                                                [svgIcon]="'heroicons_solid:location-marker'">
                                            </mat-icon>
                                            <div class="ml-1.5 text-md text-secondary">
                                                ระดับปกติ</div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <ng-container>
                                    <div class="flex items-center justify-between">
                                        <div>(+0.20)</div>
                                        <div class="font-medium  px-4">
                                            13.20
                                        </div>
                                        <button mat-icon-button [matMenuTriggerFor]="moreMenu">
                                            <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'">
                                            </mat-icon>
                                        </button>
                                        <mat-menu #moreMenu="matMenu">
                                            <button mat-menu-item (click)="deleteTask()">
                                                <mat-icon [svgIcon]="'heroicons_outline:trash'">
                                                </mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                    </div>
                                </ng-container>

                            </div>
                        </div>
                    </ng-container>

                </div>
            </div> -->


        </div>


        <!-- Divider -->
        <!-- <div class="mb-8 border-t"></div> -->

        <!-- Actions -->
        <div class="flex items-center justify-between mt-3  h-16 sticky">

            <a mat-stroked-button [routerLink]="['../']">Cancel</a>

            <button class="ml-4" mat-flat-button type="button" [color]="'primary'">Save
            </button>




        </div>
    </form>

</div>
